/*테이블스타일*/
table{
    border: 1px solid #000000;
    width: 200px;
    text-align: center;
    border-collapse: collapse;/*테투리통함*/
}
th, td{
    border: 1px solid #ccc;
    height: 50px;
    
}
thead{
    /*배경색상*/
    background-color: #eee;
}
tfoot{
    background-color: #ddd;
}